{% load static %}
<!-- {% static "css/graph.css" %} -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href={% static "css/graph.css" %} >
<h1>NASA PROGNOSTIC DATASET</h1>
<div class="container-all">
    <div class="container">
        <img src={% static "graph_images/B0025.png" %} alt="Card Image" >
        <span class="title">25</span>
        <span class="text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0026.png" %} alt="Card Image" >
        <span class="title">26</span>
        <span class="text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0027.png" %} alt="Card Image" >
        <span class="title">27</span>
        <span class="text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0028.png" %} alt="Card Image" >
        <span class="title">28</span>
        <span class="text">24 deg. Discharge was carried out using a 0.05Hz square wave loading profile of 4A amplitude and 50% duty cycle</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0029.png" %} alt="Card Image" >
        <span class="title">29</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0030.png" %} alt="Card Image" >
        <span class="title">30</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0031.png" %} alt="Card Image" >
        <span class="title">31</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0032.png" %} alt="Card Image" >
        <span class="title">32</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0033.png" %} alt="Card Image" >
        <span class="title">33</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0034.png" %} alt="Card Image" >
        <span class="title">34</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0036.png" %} alt="Card Image" >
        <span class="title">36</span>
        <span class="text">Temp.: 24 deg. Discharge_current: 4A</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0038.png" %} alt="Card Image" >
        <span class="title">38</span>
        <span class="text">Temp.: 24&44 deg. Discharge_current: (1, 2, and 4 A)</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0039.png" %} alt="Card Image" >
        <span class="title">39</span>
        <span class="text">Temp.: 24&44 deg. Discharge_current: (1, 2, and 4 A)</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0040.png" %} alt="Card Image" >
        <span class="title">40</span>
        <span class="text">Temp.: 24&44 deg. Discharge_current: (1, 2, and 4 A)</span>
    </div>
    <div class="container">
        <img src={% static "graph_images/B0041.png" %} alt="Card Image" >
        <span class="title">41</span>
        <span class="text">Temp.: 4 deg. Discharge_current: (4 and 1 A)</span>
    </div>

</div>
